<?xml version="1.0" encoding="UTF-8"?>
<!--
    Sperrt den direkten HTTP-Zugriff auf das config/-Verzeichnis.
    Diese Datei gehört in: config/web.config
-->
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <denyAllRequests />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
